<h1>{{ title }}</h1>
<p>
  <strong>Lazy Loading</strong> es un patrón de diseño, el cual permite la carga
  de modulos según sea necesario. Lo que permite mantener la carga de los
  scripts iniciales más ligeros, ayudando a disminuir los tiempos de carga.
</p>
<hr />

<ul>
  <li><a routerLink="">Inicio</a></li>
  <li>
    <a routerLink="/servicios">Servicios</a>
    <ul>
      <li><a routerLink="/servicios/hosting">Hosting</a></li>
      <li><a routerLink="/servicios/planes-web">Planes web</a></li>
    </ul>
  </li>
  <li><a routerLink="/trabajos">Trabajos</a></li>
  <li><a routerLink="/contacto">Contacto</a></li>
</ul>

<router-outlet></router-outlet>
